In [40]:
%matplotlib qt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('dark_background')

In [41]:
ob = pd.read_csv('activity_logs.csv', index_col='timestamp')
#ob = ob[ob['product'] == instrument]
#ob.head()

In [42]:
ob.query('product == "CHOCOLATE"')['bid_price_1'].plot()

In [43]:
plt.plot(ob.query('product == "STRAWBERRIES"')['bid_price_1'])

In [44]:
prices = ob.reset_index().pivot(index='timestamp', columns='product', values='bid_price_1')
prices.plot()

In [45]:
prices['CHOCOLATE_component'] = prices['CHOCOLATE']*4
prices['STRAWBERRY_component'] = prices['STRAWBERRIES']*6
prices['ROSES_component'] = prices['ROSES']

In [46]:
prices['BASKET_implied'] = prices['CHOCOLATE_component']+prices['STRAWBERRY_component']+prices['ROSES_component']

In [48]:
prices[['GIFT_BASKET', 'BASKET_implied']].plot()

In [49]:
(prices['GIFT_BASKET'] - prices['BASKET_implied']).plot()

In [24]:
trades = pd.read_csv('trades.csv', index_col='timestamp')
trades.head()

,Unnamed: 0,buyer,seller,symbol,currency,price,quantity
timestamp,,,,,,,
200,0,Remy,Vinnie,STRAWBERRIES,SEASHELLS,4031,9
200,1,Vinnie,Vladimir,STRAWBERRIES,SEASHELLS,4029,11
700,2,Vinnie,Vladimir,STRAWBERRIES,SEASHELLS,4030,6
1000,3,Vinnie,SUBMISSION,STRAWBERRIES,SEASHELLS,8055,4
1000,4,Remy,Vinnie,CHOCOLATE,SEASHELLS,7991,7

In [25]:
series = trades.groupby('price')['price'].count()
plt.figure()
plt.bar(series.index, series)

In [26]:
my_buys = trades[trades['buyer'] == 'SUBMISSION']
my_sells = trades[trades['seller'] == 'SUBMISSION']
other_trades = trades[(trades['buyer'] != 'SUBMISSION') & (trades['seller'] != 'SUBMISSION')]

In [31]:
my_sells

,Unnamed: 0,buyer,seller,symbol,currency,price,quantity
timestamp,,,,,,,
1000,3,Vinnie,SUBMISSION,STRAWBERRIES,SEASHELLS,8055,4
1100,5,Remy,SUBMISSION,STRAWBERRIES,SEASHELLS,8056,5
1500,7,Vinnie,SUBMISSION,STRAWBERRIES,SEASHELLS,8056,6
1900,13,Remy,SUBMISSION,STRAWBERRIES,SEASHELLS,8056,2
2100,14,Vinnie,SUBMISSION,STRAWBERRIES,SEASHELLS,8056,6
...,...,...,...,...,...,...,...
252200,1008,Rhianna,SUBMISSION,ROSES,SEASHELLS,28956,1
255400,1020,Vinnie,SUBMISSION,ROSES,SEASHELLS,28975,1
258300,1026,Vinnie,SUBMISSION,ROSES,SEASHELLS,29035,1
258700,1028,Vladimir,SUBMISSION,ROSES,SEASHELLS,29034,1
264900,1048,Vladimir,SUBMISSION,ROSES,SEASHELLS,29042,1

In [33]:
sells_choc = my_sells.query('symbol == "CHOCOLATE"')
buys_choc = my_buys.query('symbol == "CHOCOLATE"')

In [37]:
(-sells_choc['quantity']).cumsum().plot()

In [9]:
plt.figure(figsize=(10, 5))
plt.plot(ob['bid_price_1'], label='bid_price')
plt.plot(ob['ask_price_1'], label='ask_price')
plt.scatter(my_buys.index, my_buys['price'], label='my_buys', color='green', marker='^')
plt.scatter(my_sells.index, my_sells['price'], label='my_sells', color='red', marker='v')
plt.scatter(other_trades.index, other_trades['price'], label='other_trades', color='blue', marker='o')
plt.legend()
plt.gca().get_yaxis().get_major_formatter().set_useOffset(False)
plt.show()

In [10]:
amethysts_profit = ob[ob['product'] == 'AMETHYSTS']['profit_and_loss']
plt.figure()
plt.plot(amethysts_profit)

In [11]:
my_trades = trades[(trades['buyer'] == 'SUBMISSION') | (trades['seller'] == 'SUBMISSION')]
my_trades['position'] = (my_trades['quantity']*((my_trades['buyer'] == 'SUBMISSION')*2-1)).cumsum()
plt.figure()
plt.plot(my_trades['position'])

/tmp/ipykernel_5865/3944868899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_trades['position'] = (my_trades['quantity']*((my_trades['buyer'] == 'SUBMISSION')*2-1)).cumsum()