In [1]:
%matplotlib qt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
instrument = "STARFRUIT"

In [3]:
ob = pd.read_csv('activity_logs.csv', index_col='timestamp')
ob = ob[ob['product'] == instrument]
ob.head()

,Unnamed: 0,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,,
0,2,-2,STARFRUIT,4997,26,NaN,NaN,NaN,NaN,5003,26,NaN,NaN,NaN,NaN,5000.0,0.0
100,4,-2,STARFRUIT,5000,5,4998.0,6.0,4997.0,20.0,5004,20,NaN,NaN,NaN,NaN,5002.0,-1.0
200,6,-2,STARFRUIT,4997,1,4996.0,30.0,NaN,NaN,5003,31,NaN,NaN,NaN,NaN,5000.0,13.0
300,8,-2,STARFRUIT,4996,27,NaN,NaN,NaN,NaN,5003,27,NaN,NaN,NaN,NaN,4999.5,16.5
400,10,-2,STARFRUIT,4995,20,NaN,NaN,NaN,NaN,5002,20,NaN,NaN,NaN,NaN,4998.5,23.5

In [4]:
trades = pd.read_csv('trades.csv', index_col='timestamp')
trades = trades[trades['symbol'] == instrument]
trades.head()

,Unnamed: 0,buyer,seller,symbol,currency,price,quantity
timestamp,,,,,,,
0,2,Remy,SUBMISSION,STARFRUIT,SEASHELLS,5001,1
100,3,Ruby,SUBMISSION,STARFRUIT,SEASHELLS,5002,6
900,4,Rhianna,Valentina,STARFRUIT,SEASHELLS,5001,2
1000,6,SUBMISSION,Ruby,STARFRUIT,SEASHELLS,4998,2
1100,7,SUBMISSION,Remy,STARFRUIT,SEASHELLS,4999,1

In [5]:
my_buys = trades[trades['buyer'] == 'SUBMISSION']
my_sells = trades[trades['seller'] == 'SUBMISSION']
other_trades = trades[(trades['buyer'] != 'SUBMISSION') & (trades['seller'] != 'SUBMISSION')]

In [6]:
my_sells

           Unnamed: 0 buyer      seller     symbol   currency  price  quantity
timestamp
0                   2  Remy  SUBMISSION  STARFRUIT  SEASHELLS   5001         1
100                 3  Ruby  SUBMISSION  STARFRUIT  SEASHELLS   5002         6
1500               10  Remy  SUBMISSION  STARFRUIT  SEASHELLS   5000         1
1800               11  Ruby  SUBMISSION  STARFRUIT  SEASHELLS   5000         7
2000               15  Remy  SUBMISSION  STARFRUIT  SEASHELLS   5000         1
...               ...   ...         ...        ...        ...    ...       ...
2997000         22052  Adam  SUBMISSION  STARFRUIT  SEASHELLS   5056         2
2997100         22055   NaN  SUBMISSION  STARFRUIT  SEASHELLS   5056         1
2997100         22056  Remy  SUBMISSION  STARFRUIT  SEASHELLS   5056         1
2998700         22068  Remy  SUBMISSION  STARFRUIT  SEASHELLS   5054         1
2999700         22074   NaN  SUBMISSION  STARFRUIT  SEASHELLS   5053         1

[4668 rows x 7 columns]

In [7]:
ob

,Unnamed: 0,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,,
0,2,-2,STARFRUIT,4997,26,NaN,NaN,NaN,NaN,5003,26,NaN,NaN,NaN,NaN,5000.0,0.0
100,4,-2,STARFRUIT,5000,5,4998.0,6.0,4997.0,20.0,5004,20,NaN,NaN,NaN,NaN,5002.0,-1.0
200,6,-2,STARFRUIT,4997,1,4996.0,30.0,NaN,NaN,5003,31,NaN,NaN,NaN,NaN,5000.0,13.0
300,8,-2,STARFRUIT,4996,27,NaN,NaN,NaN,NaN,5003,27,NaN,NaN,NaN,NaN,4999.5,16.5
400,10,-2,STARFRUIT,4995,20,NaN,NaN,NaN,NaN,5002,20,NaN,NaN,NaN,NaN,4998.5,23.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999500,59992,0,STARFRUIT,5049,28,NaN,NaN,NaN,NaN,5056,28,NaN,NaN,NaN,NaN,5052.5,8539.5
2999600,59994,0,STARFRUIT,5048,9,5047.0,27.0,NaN,NaN,5054,29,NaN,NaN,NaN,NaN,5051.0,8532.0
2999700,59996,0,STARFRUIT,5053,1,5048.0,26.0,NaN,NaN,5054,2,5055.0,24.0,NaN,NaN,5053.5,8554.0
2999800,59998,0,STARFRUIT,5047,27,NaN,NaN,NaN,NaN,5052,1,5054.0,27.0,NaN,NaN,5049.5,8525.5
2999900,60000,0,STARFRUIT,5048,2,5047.0,21.0,NaN,NaN,5054,23,NaN,NaN,NaN,NaN,5051.0,8536.0

In [8]:
plt.figure(figsize=(10, 5))
plt.plot(ob['bid_price_1'], label='bid_price')
plt.plot(ob['ask_price_1'], label='ask_price')
plt.scatter(my_buys.index, my_buys['price'], label='my_buys', color='green', marker='^')
plt.scatter(my_sells.index, my_sells['price'], label='my_sells', color='red', marker='v')
plt.scatter(other_trades.index, other_trades['price'], label='other_trades', color='blue', marker='o')
plt.legend()
plt.gca().get_yaxis().get_major_formatter().set_useOffset(False)
plt.show()

In [9]:
amethysts_profit = ob[ob['product'] == 'AMETHYSTS']['profit_and_loss']
plt.plot(amethysts_profit)

In [10]:
my_trades = trades[(trades['buyer'] == 'SUBMISSION') | (trades['seller'] == 'SUBMISSION')]
my_trades['position'] = (my_trades['quantity']*((my_trades['buyer'] == 'SUBMISSION')*2-1)).cumsum()
plt.plot(my_trades['position'])

/tmp/ipykernel_129612/1164628238.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_trades['position'] = (my_trades['quantity']*((my_trades['buyer'] == 'SUBMISSION')*2-1)).cumsum()