In [1]:
%matplotlib qt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

inotify_add_watch(/home/bartosz/.config/ibus/bus/e67baace3baa49ea9bab66ee58d54b29-unix-wayland-0) failed: (No space left on device)

In [2]:
instrument = "AMETHYSTS"

In [3]:
ob = pd.read_csv('activity_logs.csv', index_col='timestamp')
ob = ob[ob['product'] == instrument]
ob.head()

,Unnamed: 0,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,,
0,1,-2,AMETHYSTS,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0,0
100,3,-2,AMETHYSTS,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5,0
200,5,-2,AMETHYSTS,9996,1,9995.0,30.0,NaN,NaN,10004,1,10005.0,30.0,NaN,NaN,10000.0,0
300,7,-2,AMETHYSTS,9996,1,9995.0,26.0,NaN,NaN,10004,1,10005.0,26.0,NaN,NaN,10000.0,0
400,9,-2,AMETHYSTS,9995,20,NaN,NaN,NaN,NaN,9998,3,10002.0,9.0,10005.0,20.0,9996.5,0

In [4]:
trades = pd.read_csv('trades.csv', index_col='timestamp')
trades = trades[trades['symbol'] == instrument]
trades.head()

,Unnamed: 0,buyer,seller,symbol,currency,price,quantity
timestamp,,,,,,,
0,0,Vinnie,Ruby,AMETHYSTS,SEASHELLS,9996,1
0,1,Remy,Ruby,AMETHYSTS,SEASHELLS,9996,1
1500,8,Remy,Vinnie,AMETHYSTS,SEASHELLS,10004,1
2500,14,Valentina,Remy,AMETHYSTS,SEASHELLS,9998,1
3200,16,Vinnie,Remy,AMETHYSTS,SEASHELLS,9996,1

In [5]:
my_buys = trades[trades['buyer'] == 'SUBMISSION']
my_sells = trades[trades['seller'] == 'SUBMISSION']
other_trades = trades[(trades['buyer'] != 'SUBMISSION') & (trades['seller'] != 'SUBMISSION')]

In [6]:
my_sells

Empty DataFrame
Columns: [Unnamed: 0, buyer, seller, symbol, currency, price, quantity]
Index: []

In [7]:
ob

,Unnamed: 0,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,,
0,1,-2,AMETHYSTS,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0,0
100,3,-2,AMETHYSTS,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5,0
200,5,-2,AMETHYSTS,9996,1,9995.0,30.0,NaN,NaN,10004,1,10005.0,30.0,NaN,NaN,10000.0,0
300,7,-2,AMETHYSTS,9996,1,9995.0,26.0,NaN,NaN,10004,1,10005.0,26.0,NaN,NaN,10000.0,0
400,9,-2,AMETHYSTS,9995,20,NaN,NaN,NaN,NaN,9998,3,10002.0,9.0,10005.0,20.0,9996.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999500,19991,-2,AMETHYSTS,9996,2,9995.0,24.0,NaN,NaN,10004,2,10005.0,24.0,NaN,NaN,10000.0,0
999600,19993,-2,AMETHYSTS,9998,6,9995.0,30.0,NaN,NaN,10005,30,NaN,NaN,NaN,NaN,10001.5,0
999700,19995,-2,AMETHYSTS,9995,22,NaN,NaN,NaN,NaN,10005,22,NaN,NaN,NaN,NaN,10000.0,0
999800,19997,-2,AMETHYSTS,9996,1,9995.0,25.0,NaN,NaN,9998,1,10002.0,9.0,10004.0,1.0,9997.0,0
999900,19999,-2,AMETHYSTS,9996,2,9995.0,30.0,NaN,NaN,10004,2,10005.0,30.0,NaN,NaN,10000.0,0

In [8]:
plt.figure(figsize=(10, 5))
plt.plot(ob['bid_price_1'], label='bid_price')
plt.plot(ob['ask_price_1'], label='ask_price')
plt.scatter(my_buys.index, my_buys['price'], label='my_buys', color='green', marker='^')
plt.scatter(my_sells.index, my_sells['price'], label='my_sells', color='red', marker='v')
plt.scatter(other_trades.index, other_trades['price'], label='other_trades', color='blue', marker='o')
plt.legend()
plt.gca().get_yaxis().get_major_formatter().set_useOffset(False)
plt.show()

In [9]:
amethysts_profit = ob[ob['product'] == 'AMETHYSTS']['profit_and_loss']
plt.plot(amethysts_profit)

In [10]:
my_trades = trades[(trades['buyer'] == 'SUBMISSION') | (trades['seller'] == 'SUBMISSION')]
my_trades['position'] = (my_trades['quantity']*((my_trades['buyer'] == 'SUBMISSION')*2-1)).cumsum()
plt.plot(my_trades['position'])