In [1]:
%matplotlib qt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
instrument = "STARFRUIT"

In [3]:
ob = pd.read_csv('activity_logs.csv', index_col='timestamp')
ob = ob[ob['product'] == instrument]
ob.head()

,Unnamed: 0,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,,
0,2,-2,STARFRUIT,4997,26,NaN,NaN,NaN,NaN,5003,26,NaN,NaN,NaN,NaN,5000.0,0.0
100,4,-2,STARFRUIT,5000,5,4998.0,6.0,4997.0,20.0,5004,20,NaN,NaN,NaN,NaN,5002.0,0.0
200,6,-2,STARFRUIT,4997,1,4996.0,30.0,NaN,NaN,5003,31,NaN,NaN,NaN,NaN,5000.0,26.0
300,8,-2,STARFRUIT,4996,27,NaN,NaN,NaN,NaN,5003,27,NaN,NaN,NaN,NaN,4999.5,29.5
400,10,-2,STARFRUIT,4995,20,NaN,NaN,NaN,NaN,5002,20,NaN,NaN,NaN,NaN,4998.5,36.5

In [4]:
trades = pd.read_csv('trades.csv', index_col='timestamp')
trades = trades[trades['symbol'] == instrument]
trades.head()

,Unnamed: 0,buyer,seller,symbol,currency,price,quantity
timestamp,,,,,,,
0,2,Remy,SUBMISSION,STARFRUIT,SEASHELLS,5002,1
100,3,Ruby,SUBMISSION,STARFRUIT,SEASHELLS,5004,6
900,5,Rhianna,Valentina,STARFRUIT,SEASHELLS,5001,2
1000,7,SUBMISSION,Ruby,STARFRUIT,SEASHELLS,4997,2
1100,8,SUBMISSION,Remy,STARFRUIT,SEASHELLS,4997,1

In [5]:
series = trades.groupby('price')['price'].count()
plt.figure()
plt.bar(series.index, series)

In [6]:
my_buys = trades[trades['buyer'] == 'SUBMISSION']
my_sells = trades[trades['seller'] == 'SUBMISSION']
other_trades = trades[(trades['buyer'] != 'SUBMISSION') & (trades['seller'] != 'SUBMISSION')]

In [7]:
my_sells

,Unnamed: 0,buyer,seller,symbol,currency,price,quantity
timestamp,,,,,,,
0,2,Remy,SUBMISSION,STARFRUIT,SEASHELLS,5002,1
100,3,Ruby,SUBMISSION,STARFRUIT,SEASHELLS,5004,6
1500,11,Remy,SUBMISSION,STARFRUIT,SEASHELLS,5002,1
1800,12,Ruby,SUBMISSION,STARFRUIT,SEASHELLS,5000,10
1800,13,Ruby,SUBMISSION,STARFRUIT,SEASHELLS,5000,1
...,...,...,...,...,...,...,...
996700,7173,Remy,SUBMISSION,STARFRUIT,SEASHELLS,5048,1
997000,7178,Remy,SUBMISSION,STARFRUIT,SEASHELLS,5047,1
997200,7179,Remy,SUBMISSION,STARFRUIT,SEASHELLS,5046,1
998000,7185,Valentina,SUBMISSION,STARFRUIT,SEASHELLS,5046,4
999000,7188,Amelia,SUBMISSION,STARFRUIT,SEASHELLS,5046,1

In [8]:
ob

,Unnamed: 0,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,,
0,2,-2,STARFRUIT,4997,26,NaN,NaN,NaN,NaN,5003,26,NaN,NaN,NaN,NaN,5000.0,0.0
100,4,-2,STARFRUIT,5000,5,4998.0,6.0,4997.0,20.0,5004,20,NaN,NaN,NaN,NaN,5002.0,0.0
200,6,-2,STARFRUIT,4997,1,4996.0,30.0,NaN,NaN,5003,31,NaN,NaN,NaN,NaN,5000.0,26.0
300,8,-2,STARFRUIT,4996,27,NaN,NaN,NaN,NaN,5003,27,NaN,NaN,NaN,NaN,4999.5,29.5
400,10,-2,STARFRUIT,4995,20,NaN,NaN,NaN,NaN,5002,20,NaN,NaN,NaN,NaN,4998.5,36.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999500,19992,-2,STARFRUIT,5041,2,5040.0,24.0,NaN,NaN,5047,26,NaN,NaN,NaN,NaN,5044.0,9386.0
999600,19994,-2,STARFRUIT,5040,30,NaN,NaN,NaN,NaN,5047,30,NaN,NaN,NaN,NaN,5043.5,9378.5
999700,19996,-2,STARFRUIT,5040,22,NaN,NaN,NaN,NaN,5047,22,NaN,NaN,NaN,NaN,5043.5,9378.5
999800,19998,-2,STARFRUIT,5041,1,5040.0,25.0,NaN,NaN,5045,3,5047.0,26.0,NaN,NaN,5043.0,9371.0
999900,20000,-2,STARFRUIT,5044,4,5040.0,32.0,NaN,NaN,5047,32,NaN,NaN,NaN,NaN,5045.5,9408.5

In [9]:
plt.figure(figsize=(10, 5))
plt.plot(ob['bid_price_1'], label='bid_price')
plt.plot(ob['ask_price_1'], label='ask_price')
plt.scatter(my_buys.index, my_buys['price'], label='my_buys', color='green', marker='^')
plt.scatter(my_sells.index, my_sells['price'], label='my_sells', color='red', marker='v')
plt.scatter(other_trades.index, other_trades['price'], label='other_trades', color='blue', marker='o')
plt.legend()
plt.gca().get_yaxis().get_major_formatter().set_useOffset(False)
plt.show()

In [10]:
amethysts_profit = ob[ob['product'] == 'AMETHYSTS']['profit_and_loss']
plt.figure()
plt.plot(amethysts_profit)

In [11]:
my_trades = trades[(trades['buyer'] == 'SUBMISSION') | (trades['seller'] == 'SUBMISSION')]
my_trades['position'] = (my_trades['quantity']*((my_trades['buyer'] == 'SUBMISSION')*2-1)).cumsum()
plt.figure()
plt.plot(my_trades['position'])

/tmp/ipykernel_5865/3944868899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_trades['position'] = (my_trades['quantity']*((my_trades['buyer'] == 'SUBMISSION')*2-1)).cumsum()