In [1]:
import pandas as pd
import glob
import os
import json

In [2]:
latest_backtest = max(os.listdir('backtests'), key=lambda x: os.path.getmtime(os.path.join('backtests', x)))
content = open(os.path.join('backtests', latest_backtest), 'r').readlines()

In [3]:
ts_start = [content.index(x) for x in content if 'Trade History' in x][0]
sandbox_log = [content.index(x) for x in content if 'Sandbox logs' in x][0]
al_history = [content.index(x) for x in content if 'Activities log' in x][0]

ts_start, sandbox_log, al_history

(70010, 0, 50004)

In [4]:
sandbox = content[sandbox_log+1:al_history-3]
sandbox = [x.strip() for x in sandbox]
json_string = "[" + "".join(sandbox).replace("}{", "},{") + "]"
logs = pd.DataFrame(json.loads(json_string))
logs.to_csv('sandbox_logs.csv')

In [5]:
activity_logs = content[al_history+1:ts_start-4]
df = pd.DataFrame(activity_logs)[0].str.strip().str.split(';', expand=True)
df.columns = df.loc[0]
activity_logs_df = df.iloc[1:]
activity_logs_df
activity_logs_df.to_csv('activity_logs.csv')

In [6]:
activity_logs_df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
1,-2,0,AMETHYSTS,9996,1,9995,25,,,10004,1,10005,25,,,10000.0,0
2,-2,0,STARFRUIT,4997,26,,,,,5003,26,,,,,5000.0,0
3,-2,100,AMETHYSTS,10000,5,9995,20,,,10005,20,,,,,10002.5,0
4,-2,100,STARFRUIT,5000,5,4998,6,4997,20,5004,20,,,,,5002.0,0
5,-2,200,AMETHYSTS,9996,1,9995,30,,,10004,1,10005,30,,,10000.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19996,-2,999700,STARFRUIT,5040,22,,,,,5047,22,,,,,5043.5,0
19997,-2,999800,AMETHYSTS,9996,1,9995,25,,,9998,1,10002,9,10004,1,9997.0,0
19998,-2,999800,STARFRUIT,5041,1,5040,25,,,5045,3,5047,26,,,5043.0,0
19999,-2,999900,AMETHYSTS,9996,2,9995,30,,,10004,2,10005,30,,,10000.0,0
20000,-2,999900,STARFRUIT,5044,4,5040,32,,,5047,32,,,,,5045.5,0

In [7]:
trades = content[ts_start+1:]

In [8]:
json_str = "".join(trades)

json_str = json_str.replace(",\n  }", "\n  }")  # Remove trailing commas
json_str = json_str.replace(",\n]", "\n]")  # Remove trailing comma 
data = json.loads(json_str)
trades_df = pd.DataFrame(data)
trades_df.to_csv('trades.csv')

In [9]:
trades_df

      timestamp      buyer     seller     symbol   currency  price  quantity
0             0     Vinnie       Ruby  AMETHYSTS  SEASHELLS   9996         1
1             0       Remy       Ruby  AMETHYSTS  SEASHELLS   9996         1
2             0       Remy  Valentina  STARFRUIT  SEASHELLS   5003         1
3           100       Ruby  Valentina  STARFRUIT  SEASHELLS   5004         6
4           900    Rhianna  Valentina  STARFRUIT  SEASHELLS   5001         2
...         ...        ...        ...        ...        ...    ...       ...
5454     998000  Valentina     Vinnie  STARFRUIT  SEASHELLS   5046         4
5455     998900       Remy  Valentina  STARFRUIT  SEASHELLS   5046         1
5456     999000     Amelia     Vinnie  STARFRUIT  SEASHELLS   5047         1
5457     999800  Valentina       Remy  AMETHYSTS  SEASHELLS   9998         1
5458     999900    Rhianna  Valentina  STARFRUIT  SEASHELLS   5044         4

[5459 rows x 7 columns]